{% if request.POST %}

    <div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Annotations</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->

{% else %}

    <div class="box box-primary collapsed-box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Annotations</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->

{% endif %}

<div class="box-body">

    <form id="annotation_form" method="post"
          action={{ form_action }} role="form">

        <ul>
            {% for annot in annotations %}
                <li>{{ annot.message }} by {{ annot.user }} ({{ annot.date }})</li>
            {% endfor %}
        </ul>

        {% if user.is_authenticated %}

            {% csrf_token %}

            {% for hidden in annotation_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in annotation_form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    <p>{{ field.errors }}</p>
                    <p>{{ field }}
                </div>
            {% endfor %}

            <input type="submit" name="submit" value="Add Annotation" class="btn btn-primary"/>

        {% endif %}

    </form>


</div>
<!-- /.box-body -->
</div>
<!-- /.box -->