{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Linker
        <small>Links Molecular Families and Gene Cluster Families</small>
      </h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> MFGCF</a></li>
        <li class="active">Linker</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <h3>Start by choosing any of the following</h3>

        <h4>Molecular Family (MF) Analysis</h4>
        <ul>
            {% for m in metabanalyses %}
                <li><a href="/linker/metabanalysis/{{m.id}}">{{m.name}}</a>
            {% endfor %}
        </ul>

        <h4>Gene Cluster Family (GCF) Analysis</h4>
        <ul>
            {% for analysis in analyses %}
                <li><a href="/linker/analysis/{{analysis.id}}">{{analysis.name}}</a>
            {% endfor %}
        </ul>

    </section>

{% endblock %}