{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Explore Link
      </h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> MFGCF</a></li>
        <li><a href="/linker">Linker</a></li>
        <li class="active">Explore Link</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <h4>MF Analysis: <strong>{{metabanalysis.name}}</strong></h4>
        <h4>GCF Analysis: <strong>{{analysis.name}}</strong></h4>

        <form id="viz_form" method="post" action="/linker/show_links/{{analysis_id}}/{{metabanalysis_id}}">
            {% csrf_token %}
            {% for hidden in graph_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in graph_form.visible_fields %}
                <p>{{ field.errors }}</p>
                <p>{{ field }}
                {{ field.label }}</p>
            {% endfor %}
            <input type="submit" name="submit" value="Show Links" class = "btn btn-primary"/>
         </form>

    </section>

{% endblock %}