{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Explore Link
      </h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> MFGCF</a></li>
        <li><a href="/linker">Linker</a></li>
        <li class="active">Explore Link</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <h4>MF Analysis: <strong>{{metabanalysis.name}}</strong></h4>
        <h4>GCF Analysis: <strong>{{analysis.name}}</strong></h4>

        <a href="/linker/show_graph/{{analysis.id}}/{{metabanalysis.id}}" class="btn btn-primary">
            Show Network
        </a>
        <a href="/linker/show_links/{{analysis.id}}/{{metabanalysis.id}}" class="btn btn-primary">
            Show Link
        </a>

    </section>

{% endblock %}