{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        MF Analysis: {{metabanalysis.name}}
        <small><a href="/linker/spectra/{{metabanalysis.id}}">Show Spectra</a></small>
        <small><a href="/linker/allmf/{{metabanalysis.id}}">Show MFs</a></small>
      </h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> NPLinker</a></li>
        <li><a href="/linker">Linker</a></li>
        <li class="active">MF Analysis</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="box box-solid box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Choose a Gene Cluster Family (GCF) Analysis to link</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul>
                    {% for a in analyses %}
                        <li><a href="/linker/show_links/{{a.id}}/{{metabanalysis.id}}">{{a.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>

{% endblock %}