<html>
<h3>GCF: {{gcf.name}} from {{gcf.analysis.name}}</h3>

<h4>Original GCFs</h4>
<p>GCFs are duplicated -- these are the refs to the original so they can be found in the bigscape output. The number at the end refers to the number in the Bigscape output file.</p>
<ul>
	{% for cl in class_links %}
		<li>{{cl.gcfclass.name}}, {{cl.original_name}}</li>
	{% endfor %}
</ul>

<h4>Strains</h4>
<ul>
	{% for s in strains %}
		<li>{{s.name}}, {{s.taxonomy}}, {{s.organism}}</li>
	{% endfor %}
</ul>
<h4>BGCs:</h4>
<ul>
	{% for b in bgc %}
		<li>{{b.0.name}}, {{b.0.product}}, {{b.1.name}} {% if b.0.mibig %} <A href="{{b.0.mibig.url}}" target="_blank">{{b.0.mibig}} </A>{% endif %} </li>
			{% if b.0.antismash_mibig %}
			<ul>
				<li>MiBIGs linked at AntiSmash stage:</li>
					<ul> 
					{% for a in b.0.antismash_mibig %} 
					<li><A href="{{a.mibig.url}}" target="_blank">{{ a.mibig }} ({{a.score}})</A></li>
					{% endfor %}
					</ul>
			</ul>
			{% endif %}
	{% endfor %}
</ul>

<h4>Significant links</h4>
<ul>
	{% for l in links %}
		<li><a href="/linker/showmf/{{l.mf.id}}">{{l.mf.name}}</a>, {{l.mf.metabanalysis.name}}, {{l.p}}, Validated = <a href="/linker/validate_from_gcf/{{l.id}}">{{l.validated}}</a></li>
	{% endfor %}
</ul>
</html>