<html>
<div><a href="/linker">Return to index</a></div>
<h3>Links for GCFs from {{analysis.name}} and MFs from {{metabanalysis.name}}</h4>

<table border=1>
	<thead>
		<tr><th>GCF</th><th>MF</th><th>p</th><th>GCF type</th><th>Shared strains</th></tr>
	</thead>
	<tbody>
		{% for row in link_list %}
			<tr><td><a href="/linker/showgcf/{{row.1.id}}">{{row.1.name}}</a></td>
				<td><a href="/linker/showmf/{{row.0.id}}">{{row.0.name}}</a></td>
				<td>{{row.2}}</td>
				<td>{{row.1.gcftype}}</td>
				<td>
					{% for s in row.3 %}
						{{s}}&nbsp;
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

</html>