{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
        <h4>News</h4>
        <p>
            <b>28th November 2017:</b> New website is launched to perform MF-GCF analysis.
        </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
        <h4>Molecular Family</h4>
        <p>
            Molecular networking has been used to develop the world's largest repository and data analysis
            tool for tandem mass spectrometry (MS/MS) data, named Global Natural Products Social Molecular
            Networking (GNPS). GNPS is being used to decipher the metabolomic ‘dark matter’ of our world,
            in everything from plant extracts and microbial cultures to a variety of human and environmental
            samples, by propagating spectral library-based annotation and showing that there are chemical
            relationships between detected molecules across many sample types.
        </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
        <h4>Gene Cluster Family</h4>
        <p>
            A gene family is a set of homologous genes within one organism. A gene cluster is part of a
            gene family. A gene cluster is a group of two or more genes found within an organism's DNA
            that encode for similar polypeptides, or proteins, which collectively share a generalized
            function and are often located within a few thousand base pairs of each other. The size of
            gene clusters can vary significantly, from a few genes to several hundred genes.
            Portions of the DNA sequence of each gene within a gene cluster are found to be identical;
            however, the resulting protein of each gene is distinctive from the resulting protein of
            another gene within the cluster. Genes found in a gene cluster may be observed near one
            another on the same chromosome or on different, but homologous chromosomes.
        </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
        <h4>Features</h4>
        <p>
            MFGCF allows you to link fragmentation spectra clustering (produced by Molecular Networking tool
            at GNPS) and gene cluster family information (produced by BiGSCAPE):
        </p>
        <ul>
            <li>Correlating</li>
            <li>Visualising</li>
        </ul>
    </div>
  </div>
</div>

{% endblock %}